<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />

    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="DLRG.OekA.Infoheft.LatexGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="DLRG.OekA.Infoheft.CourseDatabaseAccess.Properties.Settings.CourseDbConnectionString"
        connectionString="&#xA;SERVER=localhost;DATABASE=dlrg;UID=arno;PASSWORD=test;" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <applicationSettings>
    <DLRG.OekA.Infoheft.LatexGenerator.Properties.Settings>
      <setting name="ImportPath" serializeAs="String">
        <value>c:\Users\arno\Documents\dlrg\softwareprojekte\InfoHeftExportNeu\XML</value>
      </setting>
      <setting name="ExportPath" serializeAs="String">
        <value>c:\Users\arno\Documents\Visual Studio 2015\Projects\DLRG.OekA.Infoheft\DLRG.OekA.Infoheft.LatexGenerator\bin\Debug\</value>
      </setting>
      <setting name="StartDate" serializeAs="String">
        <value>2016-01-01</value>
      </setting>
    </DLRG.OekA.Infoheft.LatexGenerator.Properties.Settings>
  </applicationSettings>
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>

    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="log-file.txt" />
      <appendToFile value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>


    <root>
      <level value="ALL"/>
      <appender-ref ref="FileAppender"/>
      <appender-ref ref="ConsoleAppender" />
    </root>
  </log4net>
</configuration>