<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DLRG.OekA.Infoheft.LatexGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <DLRG.OekA.Infoheft.LatexGenerator.Properties.Settings>
            <setting name="ImportPath" serializeAs="String">
                <value>c:\Users\arno\Documents\dlrg\softwareprojekte\InfoHeftExportNeu\XML</value>
            </setting>
            <setting name="ExportPath" serializeAs="String">
                <value>c:\Users\arno\Documents\Visual Studio 2015\Projects\DLRG.OekA.Infoheft\DLRG.OekA.Infoheft.LatexGenerator\bin\Debug\</value>
            </setting>
        </DLRG.OekA.Infoheft.LatexGenerator.Properties.Settings>
    </applicationSettings>
</configuration>