<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DLRG.OekA.Infoheft.CourseDatabaseAccess.Properties.Settings.CourseDbConnectionString"
            connectionString="&#xA;SERVER=localhost;DATABASE=dlrg;UID=arno;PASSWORD=test;" />
    </connectionStrings>
</configuration>